# 04. Tipos de dados no Python

### 04.02. Tipos comuns

#### Inteiro / Integer

In [35]:
#inteiro

idade = 37
temperatura = -4
numeroGrande = 123456789

#### Float  / Decimal

In [36]:
peso = 91.2
temperatura = -4.5

peso

91.2

#### String / Texto

In [37]:
# equivalente
Nome = "Maycon Rocha"

numero_a = 1
numero_b = "1"

numero_a == numero_b

False

#### Booleano
Tru or False

In [38]:
# Exemplo de uma variável booleana
linguagem_1 = "Python"
linguagem_2 = "Java"

linguagem_1 == linguagem_1

verdadeiro = True
verdadeiro
# Exemplo de uma variável booleana
falso = False
falso

False

#### Verificando tipo de dados com Python

In [39]:
# Exemplo de variáveis de diferentes tipos
type(linguagem_2)
type(falso)
type(numero_a)


# Exemplo de variáveis de diferentes tipos
inteiro = 42
flutuante = 3.14
texto = "Olá, mundo!"
lista = [1, 2, 3]
tupla = (1 , 3)
dicionario = {'a': 1, 'b': 2}
booleano = True

# Verificando os tipos
print(type(inteiro))    # <class 'int'>
print(type(flutuante))  # <class 'float'>
print(type(texto))      # <class 'str'>
print(type(lista))      # <class 'list'>
print(type(tupla))      # <class 'tuple'>
print(type(dicionario)) # <class 'dict'>
print(type(booleano))   # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

#### 04.05. Formatando strings

#### Formatando Strings utilizando %

In [40]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxaDolar = 4.955555555

# "O " + marca + " foi lancado em " + str(lancamento)

'O %s foi lancado em %d e custa $ %d. Mas a taxa de conversao real para dolar e %.2f reais para 1 dolar'%(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $ 1299. Mas a taxa de conversao real para dolar e 4.96 reais para 1 dolar'

#### Formatando Strings utilizando o format()

In [41]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxaDolar = 4.955555555

'O {0} foi lancado em {1} e custa ${2}. Mas a taxa de conversao real para dolar e R${3: .2f} para R$1'.format(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $1299. Mas a taxa de conversao real para dolar e R$ 4.96 para R$1'

In [42]:
f'O {marca} foi lancado em {lancamento} e custa ${valor}. Mas a taxa de conversao real para dolar e R${taxaDolar: .2f} para R$1'

'O Iphone 15 Pro Max foi lancado em 2023 e custa $1299. Mas a taxa de conversao real para dolar e R$ 4.96 para R$1'

#### 04.06. Convertendo tipo de dados

In [14]:
numero = int('2')
numero = str(numero)
1+ int('1')
str(1)+'1'
float(10)

10.0

In [26]:
from datetime import datetime   
import pytz 

unix_time = 1704569241
# Converter para data e hora normal em São Paulo
fuso_horario_sao_paulo = pytz.timezone('America/Sao_Paulo')

data_hora_sao_paulo = datetime.fromtimestamp(unix_time, fuso_horario_sao_paulo)

print("Data e hora em São Paulo:", data_hora_sao_paulo)

Data e hora em São Paulo: 2024-01-06 16:27:21-03:00

#### 04.07. Listas

In [ ]:
#declarando uma lista
minhaLista = []
minhaLista

nomeUsuario = ["Huguinho", "Zezinho", "Luizinho"]
idadeUsuario = [18, 19, 20]

nomeUsuario, idadeUsuario

(['Huguinho', 'Zezinho', 'Luizinho'], [18, 19, 20])

In [ ]:
#Adicionando itens na lista
nomeUsuario.append("Tio Patinhas")
idadeUsuario.append(60)

idadeUsuario
nomeUsuario, idadeUsuario

(['Huguinho', 'Zezinho', 'Luizinho', 'Tio Patinhas'], [18, 19, 20, 60])

In [ ]:
#removendo da lista
nomeUsuario.remove("Tio Patinhas")
idadeUsuario.remove(60)

nomeUsuario, idadeUsuario

(['Huguinho', 'Zezinho', 'Luizinho', 'Tio Patinhas'], [18, 19, 20, 60])

In [ ]:
# encontando um valor por indice
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

idadeAlunos[0]

49

In [ ]:
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

#buscando primeiros itens
idadeAlunos[:5]

#da esquerda (valor positivo)
idadeAlunos[11]

#da direita (valor negativo)
idadeAlunos[-3]

[49, 50, 41, 39, 22]

In [8]:
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

#da esquerda (valor positivo)
idadeAlunos[:5]

#da direita (valor negativo)
idadeAlunos[-3:]

[21, 48, 31]

In [ ]:
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

#buscando um intervalo de itens
#idadeAlunos[2:5]  2 ao 5-1

idadeAlunos[4:10]

[22, 30, 43, 45, 27, 18]

In [10]:
#Acessando intervalos
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]
idadeAlunos[0:10:2]

[49, 41, 22, 43, 27]

In [11]:
idadeAlunos[0:10]

[49, 50, 41, 39, 22, 30, 43, 45, 27, 18]

In [12]:
#alterando valores
idadeAlunos = [49, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

idadeAlunos[0] = 63
idadeAlunos

[63, 50, 41, 39, 22, 30, 43, 45, 27, 18, 32, 24, 21, 48, 31]

#### 04.08. Tuplas

In [13]:
mesesDoAno = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")

In [20]:
#Acessando valores
mesesDoAno[11]

mesesDoAno[3:6]

('Apr', 'May', 'Jun')

#### 04.09. Dicionarios

In [21]:
meuDicionario = {}
type(meuDicionario)

dict

In [22]:
#criando um dicionario com nome e didade de usuários
usuario = {
    "Huguinho":18,
    "Zezinho": 19,
    "Luizinho":20
}
usuario

{'Huguinho': 18, 'Zezinho': 19, 'Luizinho': 20}

In [23]:
#imprimindo um item
usuario["Zezinho"]

19

In [ ]:
#imprimindo um item
usuario["Luizinho"] = 21
usuario

{'Huguinho': 18, 'Zezinho': 19, 'Luizinho': 21}

#### Criando uma lista de dicionários

In [27]:
listaUsuarios=[
    {"nome": "Huguinho", "idade":18},
    {"nome": "Zezinho", "idade":19},
    {"nome": "Luizinho", "idade":21},
    {"nome": "Tio Patinhas", "idade":30},
]
listaUsuarios

[{'nome': 'Huguinho', 'idade': 18},
 {'nome': 'Zezinho', 'idade': 19},
 {'nome': 'Luizinho', 'idade': 21},
 {'nome': 'Tio Patinhas', 'idade': 30}]

In [24]:
import pandas as pd

In [28]:
df = pd.DataFrame(listaUsuarios)
df

           nome  idade
0      Huguinho     18
1       Zezinho     19
2      Luizinho     21
3  Tio Patinhas     30

In [ ]:
df.head(3)

       nome  idade
0  Huguinho     18
1   Zezinho     19
2  Luizinho     21